body{
    min-height: 100vh;
    margin: 0;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: "Manrope";
    font-size: 13px;
}

main{
    max-width: 675px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: hsl(210, 46%, 95%);
    box-shadow: 0 10px 100px hsla(214, 17%, 51%, 50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.drawers{
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    flex: 1 1 226px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: url("../images/drawers.jpg");
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

article{
    flex: 1 1 300px;
    box-sizing: border-box;
    padding: 2rem;
}
article h1{
    margin: 0;
    font-size: 1.25em;
    color: hsl(217, 19%, 35%);
}
article p{
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}
article nav{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article nav >:first-child{
    display: grid;
    grid-template-columns: 45px auto;
    column-gap: 10px;
}
article nav >:first-child picture{
    display: flex;
    align-items: center;
    grid-row: 1/3;
}
article nav >:first-child picture img{
    max-width: 100%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
article nav >:first-child h2{
    margin: 0;
    font-size: 1rem;
}
article nav >:first-child p{
    margin: 0;
    grid-column: 2/3;
}
article nav > :last-child{
    width: 35px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border:none;
    border-radius: 100px;
    background-color: hsla(212, 23%, 69%, 25%);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


article nav > .active{
    background-color: hsl(217, 19%, 35%);
}
article nav > .active img{
    filter: brightness(0) invert();
    -webkit-filter: brightness(0) invert();
}

#share-activated{
    position: absolute;
    padding: 1rem 2.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    bottom: 55px;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    box-shadow: 0 5px 15px hsla(214, 17%, 51%, 50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#share-activated::after{
    content: "";
    width: 20px;
    aspect-ratio: 1/1;
    bottom: -19px;
    left: 46%;
    display: block;
    position: absolute;
    background-color: inherit;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
}


#share-activated p{
    letter-spacing: 5px;
    margin: 0;
    color: hsl(212, 23%, 69%);
}
#share-activated picture{
    display: flex;
    gap: 10px;
}
#share-activated picture img{
    height: 16px;
}
.active{
    display: flex;
}
.unactive{
    display: none;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width:574px) {
    main{
        overflow: hidden;
    }
    .drawers{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .mobileActiveMargin{
        margin-bottom: 45px;
    }
    article nav >:first-child{
        display: none;
    }
    #activeMobile{
        display: grid;
    }
    #unactiveMobile{
        display: none;
    }
    .shareButtonMobileActive{
        padding: 0;
        width: 0;
        height: 0;
    }
    .shareButtonMobileActive> img{
        display: none;
    }
    article nav > .active{
        background-color: hsl(217, 19%, 35%);
    }
    article nav > .active picture::after,
    article nav > .active picture::before{
        content: "";
        width: 35px;
        aspect-ratio: 1/1;
        display: block;
        align-self: center;
        position: absolute;
        right: 2.5rem;
        border-radius: 100px;
        background: hsla(212, 23%, 69%, 25%);

        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }
    article nav > .active picture::before{
        background: hsla(0, 0%, 0%, 0) url("../images/icon-share.svg");
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0) invert();
        -webkit-filter: brightness(0) invert();
}

    #share-activated{
        padding: 1rem 2.5rem;
        min-height: 45px;
        justify-content: start;
        gap: 20px;
        bottom: -77px; left: -2rem;
        width: calc(100vw - 8rem);
        box-shadow: none;
        font-size: 1.125em;
    }
    #share-activated::after{
        display: none;
    }
    #share-activated picture{
        gap: 15px;
    }
    #share-activated picture img{
        min-height: 1.5em;
    }
}